<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sl.notification" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/comm_ic_notification"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NormalNotificationActivity"></activity>
        <activity android:name=".CustomNotificationActivity"></activity>
        <receiver android:name=".broadcast.NotificationBroadcastReceiver"></receiver>
    </application>

</manifest>
